.pageCenter {
  background: white;
  padding-bottom: 0 im; }
  .pageCenter .btn-primary {
    background: #A0A0A0;
    border-color: #C0BFBF; }
  .pageCenter .btn-primary:hover {
      background: #DACF63; }
  .pageCenter .lang-logo {
      background: #B01302;
      border-radius: 50%;
      overflow: hidden;
      margin: 0px;
      border: 0px solid white; }
  .pageCenter .lang-logo img {
        max-width: 50%; }
.motto {
  /* Sous-titre (programStatus) */
  font-family: Helvetica;
  font-size: 1.5vw;
  color: #DACF63;
  max-width: 50%;
  margin: 0em auto 0.5em;}
.programStatus {
  /* Sous-titre (programStatus) */
  font-family: Helvetica;
  font-size: 1vw;
  color: #000000;
  max-width: 50%;
  margin: 0em auto 0.5em;}

/*Added fit style to fit images*/
.fit {
        max-width: 25%;
        max-height: 25%;
      }
.center {
        display: block;
        margin-top: 10%;
        margin-left: 0%;
      }
.centerb {
              display: inline;
              position: absolute;
              margin-top: 0%;
              margin-left: 0px;
            }

/*This is the styling for wrapper*/

.wrapper {
  width: 0px;
  margin: 0px ;
}

/*This is the styling for centering the prices on the cards*/

.content-wrapper{
    width: 80%;
    margin: 4% 10% 5% 10%;
}

.content-wrapper img{
    width: 100%;
}

.text-wrapper{
    width: 100%;
    position: absolute;
    margin-top: -40%;
}

.text-wrapper h1{
    text-align: center;
    color: #000000;
    font-size: 2vw;
    font-family: 'Merriweather', serif;
}



/*This is the styling for the icon boxes*/
.flip3D{ float: left; width: 8.33%; height: 50px; margin-right: 0px; margin-bottom: 0px }

.flip3D > .front{
      	position:absolute;
      	transform: perspective( 1000px ) rotateY( 0deg );
      	background:#ea6248; width:59.5im; height:59.5im; border-radius: 0px;
      	backface-visibility: hidden;
      	transition: transform .2s linear 0s;
      }
      .flip3D > .back{
      	position:absolute;
      	transform: perspective( 1000px ) rotateY( 180deg );
      	background: #ffbfbf; width:59.5im; height:59.5im; border-radius: 0px;
      	backface-visibility: hidden;
      	transition: transform .2s linear 0s;
      }
      .flip3D:hover > .front{
      	transform: perspective( 1000px ) rotateY( -180deg );
      }
      .flip3D:hover > .back{
      	transform: perspective( 600px ) rotateY( 0deg );
      }

/*This is the styling for the icon boxes b (checker-style array)*/
.flip3Db{ float: left; width: 8.33%; height: 102.5px; margin-right: 0px; margin-bottom: 0px }
      .flip3Db > .front{
      	position:absolute;
      	transform: perspective( 1000px ) rotateY( 0deg );
      	background:#fca400; width:59.5im; height:59.5im; border-radius: 0px;
      	backface-visibility: hidden;
      	transition: transform .15s linear 0s;
      }
      .flip3Db > .back{
      	position:absolute;
      	transform: perspective( 600px ) rotateY( 180deg );
      	background: #fce9c7; width:59.5im; height:59.5im; border-radius: 0px;
      	backface-visibility: hidden;
      	transition: transform .15s linear 0s;
      }
      .flip3Db:hover > .front{
      	transform: perspective( 600px ) rotateY( -180deg );
      }
      .flip3Db:hover > .back{
      	transform: perspective( 600px ) rotateY( 0deg );
      };

/*This is the styling for the coin prices */
