.jumbotron {
  background: white;
  color: white;
  padding-bottom: 20em; }
  .jumbotron .btn-primary {
    background: #A0A0A0;
    border-color: #C0BFBF; }
    .jumbotron .btn-primary:hover {
      background: #DACF63; }
  .jumbotron p {
    color: #DACF63;
    max-width: 100%;
    margin: 1em auto 2em; }
  .navbar{
      height: 10px;
      position:fixed;
      width: 100%;
      z-index: 10;
     }
  .jumbotron{
    margin-top: 0px;
  }
  .jumbotron .lang-logo {
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }

/*Added fit style to fit images*/
* {
        padding: 0;
        margin: 0;
      }
.fit {
        max-width: 100%;
        max-height: 100%;
      }
.center {
        display: block;
        margin-top: 15%;
        margin-left: 23%;
      }
.centerb {
              display: inline;
              position: absolute;
              margin-top: 0%;
              margin-left: 10px;
            }

/*This is the styling for wrapper*/

.wrapper {
  width: 0px;
  margin: 0px ;

}

/*This is the styling for centering the prices on the cards*/

.content-wrapper{
    width: 80%;
    margin: 4% 10% 5% 10%;
}

.content-wrapper img{
    width: 100%;
}

.text-wrapper{
    width: 100%;
    position: relative;
    margin-top: -40%;
}

.text-wrapper h1{
    text-align: center;
    color: #000000;
    font-size: 2vw;
    font-family: 'Merriweather', serif;
}



/*This is the styling for the icon boxes*/
.flip3D{ float: left; width: 16.66%; height: 205px; margin-right: 0px; margin-bottom: 0px }

.flip3D > .front{
      	position:absolute;
      	transform: perspective( 71.66em ) rotateY( 0deg );
      	background:#000000; width:17.2em; height:15.4em; border-radius: 0em;
      	backface-visibility: hidden;
      	transition: transform .2s linear 0s;
      }
      .flip3D > .back{
      	position:absolute;
      	transform: perspective( 71.66em ) rotateY( 180deg );
      	background: #C6C6C6; width:17.2em; height:15.4em; border-radius: 0em;
      	backface-visibility: hidden;
      	transition: transform .2s linear 0s;
      }
      .flip3D:hover > .front{
      	transform: perspective( 600px ) rotateY( -180deg );
      }
      .flip3D:hover > .back{
      	transform: perspective( 600px ) rotateY( 0deg );
      }

/*This is the styling for the icon boxes b (checker-style array)*/
.flip3Db{ float: left; width: 16.66%; height: 205px; margin-right: 0px; margin-bottom: 0px }
      .flip3Db > .front{
      	position:absolute;
      	transform: perspective( 71.66em ) rotateY( 0deg );
      	background:#8C8C8C; width:17.2em; height:15.4em; border-radius: 0px;
      	backface-visibility: hidden;
      	transition: transform .15s linear 0s;
      }
      .flip3Db > .back{
      	position:absolute;
      	transform: perspective( 71.66em ) rotateY( 180deg );
      	background: #D8D8D8; width:17.2em; height:15.4em; border-radius: 7px;
      	backface-visibility: hidden;
      	transition: transform .15s linear 0s;
      }
      .flip3Db:hover > .front{
      	transform: perspective( 600px ) rotateY( -180deg );
      }
      .flip3Db:hover > .back{
      	transform: perspective( 600px ) rotateY( 0deg );
      };

/*This is the styling for the coin prices */

@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}
@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}
