<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Tingle (Home)</title>
  <link rel="stylesheet" href="main.css">
  <link href="https://fonts.googleapis.com/css?family=Itim|Merriweather" rel="stylesheet">
  <% include ../partials/header.ejs %>
</head>
<body>
  <% include ../partials/nav.ejs %>
<!-- Central part of the site -->
  <!-- TINGLE + LOGO (IMG) -->
  <div class="pageCenter text-center">
      <div id="titleContainer">
        <a href="/" class="lang-logo">
          <img id= "logoTingle" src="/lang-logo.png">
        </a>
      </div>
      <!-- Motto under the title -->
      <div class=motocontainer>
      <p class="motto"> A Decentralised Cryptocurrency Exchange </p>
      <p class="programStatus"> Launching soon. Stay tuned.</p>
      <br>
      <a type="button" class="btn btn-lg btn-default" href="https://github.com/chrisd95/tingle2">
        <span class="glyphicon glyphicon-flash"></span> Getting Started with Tingle</a>
      <a type="button" class="btn btn-lg btn-primary" href="https://www.reddit.com/">
        <span class="glyphicon glyphicon-download"></span> Join our Reddit</a>
    </div>
  </div>
<br>

<div class="bigContainerCard">
<!--First Cards row-->
    <div class="containerCarda text-center">

    </div>
<!--Second Cards row-->
    <div class="containerCardb text-center">
    </div>
</div>
<!-- End of Card section -->

<div class="container">
  <div class="alert alert-info text-center" role="alert">
    Launching soon. Stay tuned.
  </div>
  <hr>
  <div class="endPageContainer">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Let's Tingle.</h3>
      <ul>
        <li>Tingle is a decentralised exchange platform (DEX) for cryptocurrencies powered by the <a href="https://neo.org/">NEO Blockchain</a>.</li>

        <li>When cryptocurrencies are sent to the Tingle platform, they are converted into their Tingle equivalent, allowing them to travel at lightning speed.</li>
        <li>Keeping your Tingles on the platform generate Sweat Tokens.</li>
        <li>Sweat Tokens power the Tingle platform, it is the currency in which transaction fees and system fees are paid and redistributed to Tingle owners.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> pre-ICO</h3>
      <ul>
        <li>Tingle is in pre-ICO, meaning that it's whitepaper has yet to be published. You can track the whitepaper drop <a href="https://github.com/chrisd95/tingle2">here</a>.</li>
        <li>Interested parties can join the pre-sale by following these steps:</li>
        <ul>
          <li>By joining our <a href="https://medium.com/">newsletter</a> for the latest updates.</li>
          <li>Registering to our Know Your Customer program (KYC)</li>
          <li>Download our Tingle Wallet <a href="https://github.com/chrisd95/tingle2">here</a></li>
        </ul>
      </ul>
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="https://twitter.com/">Twitter</a></li>
        <li><a href="https://www.reddit.com/">Reddit</a></li>
        <li><a href="https://medium.com/">Medium</a></li>
        <li><a href="https://github.com/chrisd95/tingle2">Github</a></li>
      </ul>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
     Still here? Join our discord channel.
  </div>
</div>

</body>
</html>
